body {
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: "Futura", sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    width: 100%;
}

bodyhome {
    position: fixed;
    margin: 0;
    padding: 0;
    font-family: "Futura", sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    width: 100%;
}

#nav {
    font-family: "Futura";
    background: #000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#nav img {
    height: 48px;
    float: left;
    border: none;
}

#nav img:hover {
    height: 48px;
    float: left;
    border: none;
    color: white;
}

#nav-wrapper {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    display: inline-block;
}

#nav ul li:hover {
    color: white;
    background-color: DarkOrange;
}

#nav ul li a,
visited {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

#main {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    overflow: auto;
}

#content {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    padding: 20px;
    margin: 70px 0 50px 0;
    overflow: auto;
}

#footer {
    background-color: black;
    color: Orange;
    clear: both;
    text-align: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#headBox {
    width: 33.33%;
    position: relative;
    bottom: 90px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 0 0 10px rgba(1, 1, 1, 100);
    border-color: #f1f1f1;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
}

#homeBox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: "Playfair Display", serif;
    padding-bottom: 3px;
    border-bottom: 2px solid orange;
    color: #000000;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Playfair Display", serif;
    padding-bottom: 3px;
    color: Orange;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-family: "Playfair Display", serif;
    padding-bottom: 3px;
    color: Black;
    font-size: 14px;
    margin-top: 0;
}

.wrapper {
    width: 100%;
}

#slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#slider > img {
    width: 100%;
    float: left;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: .5em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

inpu,
textarea {
    font: 1em sans-serif;
    width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}


/* 

c {
    width: 100px;
    text-align: center;
    background: black;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px 4px 4px 4px;
    border-color: #ffffcc;
}

c:hover {
    color: white;
    background-color: DarkOrange;

}

left {
    float: left;
    margin-left: 10px;
}

right {
    float: right;
    margin-right: 10px;
} 

*/

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow img {
    width: 240px;
}

.fadein {
    position: relative;
    width: 500px;
    height: 332px;
}

.fadein img {
    position: absolute;
    padding: 10px;
    width: 500px;
    height: 332px;
}

.fadein1 {
    position: relative;
    width: 500px;
    height: 332px;
}

.fadein1 img {
    position: absolute;
    padding: 10px;
    width: 500px;
    height: 332px;
}

.fadein2 {
    position: relative;
    width: 500px;
    height: 332px;
}

.fadein2 img {
    position: absolute;
    padding: 10px;
    width: 500px;
    height: 332px;
}
