body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    height: auto;
    position: relative;
}

#nav {
    font-family: "Playfair Display";
    background: #000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#nav img {
    height: 48px;
    float: left;
    border: none;
}

#nav-wrapper {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    display: inline-block;
}

#nav ul li:hover {
    color: white;
    background-color: DarkOrange;
}

#nav ul li a,visited {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

#headBox {
    width: 33.33%;
    position: relative;
    bottom: 80px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
    border-color: #f1f1f1;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
}

#homeBox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#main {
    width: 100%;
    position: relative;
    bottom: 50px;
    text-align: left;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
    border-color: #f1f1f1;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    padding: 20px;
}

#content {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

h1 {
    font-family: "Playfair Display", serif;
    padding-bottom: 3px;
    border-bottom: 2px solid orange;
    color: #000000;
    font-size: 40px;
    margin-top: 0;
	margin-bottom: 0;
}

h2 {
    font-family: "Playfair Display", serif;
    padding-bottom: 3px;
    color: Orange;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-family: "Playfair Display", serif;
    padding-bottom: 3px;
    color: Black;
    font-size: 14px;
    margin-top: 0;
}

.wrapper {
    width: 100%;
}

#slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#slider > img {
    width: 100%;
    float: left;
}

/* c {
    width: 100px;
    text-align: center;
    background: black;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px 4px 4px 4px;
    border-color: #ffffcc;
}

c:hover {
    color: white;
    background-color: DarkOrange;

}

left {
    float: left;
    margin-left: 10px;
}

right {
    float: right;
    margin-right: 10px;
} */